{% include 'sitio/cabecera.html' %} 

<div class="row justify-content-center">
    <div class="col-md-6">
        <div class="card mt-5 shadow">
            <div class="card-header text-center bg-primary text-white">
                <h2>Iniciar Sesión</h2>
            </div>
            <div class="card-body">
                <!-- Muestra los mensajes flash de Flask si existen -->
                {% with messages = get_flashed_messages() %}
                    {% if messages %}
                        <div class="alert alert-info" role="alert">
                        {% for message in messages %}
                            {{ message }}
                        {% endfor %}
                        </div>
                    {% endif %}
                {% endwith %}


                <!-- Formulario de login -->
                <form action="{{ url_for('login') }}" method="post">
                    <div class="mb-3">
                        <label for="txtUsuario" class="form-label">Correo electrónico:</label>
                        <input type="email" class="form-control" name="txtUsuario" id="txtUsuario" placeholder="ejemplo@correo.com" required>
                    </div>
                    <div class="mb-3">
                        <label for="txtContrasena" class="form-label">Contraseña:</label>
                        <div class="input-group">
                            <input type="password" class="form-control" name="txtContrasena" id="txtContrasena" placeholder="********" required>
                            <button class="btn btn-outline-secondary" type="button" id="togglePassword">
                                <i class="fa-solid fa-eye-slash"></i>
                            </button>
                        </div>
                    </div>
                    <div class="d-grid gap-2">
                        <button type="submit" class="btn btn-success btn-lg">Entrar</button>
                    </div>
                </form>
            </div>
            <div class="card-footer text-center">
                ¿No tienes una cuenta? <a href="{{ url_for('registro_rol') }}">Regístrate aquí</a>
            </div>
        </div>
    </div>
</div>

{% include 'sitio/pie.html' %}

<script>
    document.addEventListener('DOMContentLoaded', function() {
        const togglePassword = document.getElementById('togglePassword');
        const passwordInput = document.getElementById('txtContrasena');

        if (togglePassword && passwordInput) {
            togglePassword.addEventListener('click', function() {
                const type = passwordInput.getAttribute('type') === 'password' ? 'text' : 'password';
                passwordInput.setAttribute('type', type);
                
                this.querySelector('i').classList.toggle('fa-eye');
                this.querySelector('i').classList.toggle('fa-eye-slash');
            });
        }
    });
</script>
